body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px;
    background: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Prevent AngularJS uncompiled template from rendering while app is still loading.. */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
    display: none !important;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    border: none;
    border-radius: 0;
    padding-right: 10px;
    background: rgb(31, 31, 31);
}

.navbar-header .navbar-brand {
    margin: 0;
    font-weight: 100;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

.navbar-header .navbar-brand:hover {
    color: rgb(255, 255, 255);
    background: transparent;
}

.navbar-default .navbar-text {
    color: rgb(241, 241, 241);
    font-weight: 100;
    letter-spacing: 1px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu > li > a,
.dropdown-menu > li > a:hover {
    transition: 0.5s all;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: rgb(255, 255, 255);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background: rgb(255, 99, 71);
}

.dropdown-menu {
    background: rgb(31, 31, 31);
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.dropdown-menu > li > a {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.dropdown-menu > li > a:hover {
    color: rgb(255, 255, 255);
    background: rgb(255, 99, 71);
    border: none;
}

.alert {
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    padding: 10px 15px;
}

.alert span {
    font-weight: bold;
    padding-right: 5px;
    margin-right: 5px;
}

.alert-danger {
    background: rgb(255, 99, 71);
    color: rgb(31, 31, 31);
}

.content {
    padding: 10px 25px 0 25px;
}

.alert-row {
    margin-top: 10px;
    padding: 5px 5px;
    height: 100px;
    background: rgb(63, 63, 63);
}

.alert-row:first-of-type {
    margin-top: 0;
}

.alert-row > .alert-header {
    padding: 0 5px;
}

.alert-row > .alert-header > p {
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: rgb(135, 135, 135);
}

.alert-row > .alert-header > p > i {
    margin-right: 5px;
}

.alert-row > .alert-header > p > i.alert-ok {
    color: rgb(9, 205, 9);
}

.alert-row > .alert-header > p > i.alert-warn {
    color: rgb(255, 153, 18);
}

.alert-row > .alert-header > p > i.alert-critical {
    color: rgb(255, 99, 71);
}

.alert-row > .alert-header > p > span.right {
    float: right;
}